.btn
    background: $second-color
    border-radius: 56px
    border: none
    cursor: pointer
    

    font-weight: 600
    font-size: 16px
    line-height: 43px
    color: $text-color
    transition: $anim500

    &__header
        padding: 0 24px
    &__hero
        padding: 0 87px
        text-decoration: $none
        display: block
        width: fit-content
    &:hover
        background: $blue
        color: $second-color
