.btn
    background: $second-color
    border-radius: 56px
    border: none
    cursor: pointer
    
    

    font-weight: 600
    font-size: 16px
    line-height: 43px
    color: $text-color
    transition: $anim500

    &__header
        padding: 0 24px
        display: block
        text-decoration: none
    &__hero
        padding: 0 87px
        text-decoration: $none
        display: block
        width: fit-content
    &__news
        padding: 0 19px
        display: block
        text-decoration: none
        width: fit-content
        font-size: 14px
        font-weight: 400
    &__listen
        padding: 0 55px

    &__player
        display: block
        text-decoration: none
        font-weight: 500
        font-size: 20px
        line-height: 24px
        height: fit-content

        &-dowload
            padding: 0 140px
            margin: 0 0 26px
        &-text
            padding: 0 53px
    &:hover
        background: $blue
        color: $second-color
