.galery
    margin: 0 0 80px
    .section-title
        margin: 0 0 40px
    &-new
        margin: 0 0 59px
        &__list
            list-style: none
            // display: grid
            // gap: 26px
            // grid-template-columns: repeat(5, 1fr)
            // grid-auto-rows: minmax(312px, 1fr)
        &__block
            position: relative
            padding: 8px
            display: grid
            align-items: start
            z-index: 2
            text-decoration: none
            color: inherit
            min-height: 312px
            

            &::before
                content: ""
                background: linear-gradient(180deg, rgba(196, 196, 196, 0.1) 0%, rgba(166, 221, 255, 0.1) 0.01%, #A6DDFF 100%)
                width: 100%
                min-height: 312px
                display: block
                position: absolute
                inset: 0
                border-radius: 10px

        &__img
            position: absolute
            inset: 0
            width: 100%
            height: fit-content
            z-index: 1

        &__title
            max-width: 222px
            min-height: 71px
            padding: 13px 12px 14px
            font-weight: 400
            font-size: 14px
            line-height: 22px
            letter-spacing: -0.015em
            background: $main-color
            position: relative
            z-index: 2
            border-radius: 10px

    &-news
        margin: 0 0 97px
        &__body
            display: grid
            gap: 20px
            
            
        &__row
            display: grid
            column-gap: 20px
            grid-template-columns: 1fr 430px
            grid-auto-rows: 562px


            &:nth-of-type(even)
                grid-template-columns: 430px 1fr
                
        &__block
            position: relative
            color: $white
            text-decoration: none
            display: grid
            

            &:hover
                .galery-news__text
                    display: grid
            

        &__img
            position: absolute
            inset: 0
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -1

        &__text
            display: none
            width: 100%
            height: 100%
            background: linear-gradient(180deg, rgba(0, 38, 77, 0) 0%, #00264D 100%)
            position: relative
            padding: 30px 80px
            grid-auto-rows: max-content
            gap: 8px
            align-content: end

    &-new-video

        &__body
            display: grid
            grid-template-columns: repeat(4, minmax(310px, 1fr))
            gap: 20px

            