header
    border-bottom: 4px solid rgba(0, 38, 77, 0.06)

.header-block
    display: flex
    padding: 32px

.nav-list
    display: flex
    align-items: center
    gap: 40px
    
.nav-block
    &__link
        text-decoration: $none
