@import options

*
    margin: 0
    padding: 0
    box-sizing: border-box

    &::before, &::after
        box-sizing: border-box

body
    background: $main-color
    font-family: $Montserrat

img
    max-width: 100%
    border: none
    vertical-align: top

.container
    max-width: 1300px
    width: calc( 100% - 20px )
    margin: 0 auto

.hide
    display: none !important

@import header
@import button
@import hero
@import footer
@import sounds


.section-title
    font-weight: 700
    font-size: 48px
    line-height: 59px



    