* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  background: #D9F1FF;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: top;
}

.container {
  max-width: 1300px;
  width: calc(100% - 20px);
  margin: 0 auto;
}

.hide {
  display: none !important;
}

header {
  border-bottom: 4px solid rgba(0, 38, 77, 0.06);
  margin: 0 0 40px;
}

.header-block {
  display: grid;
  grid-auto-flow: column;
  padding: 32px 0;
  justify-content: space-between;
}

.nav-list {
  display: grid;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  width: 100%;
  align-items: center;
  gap: 40px;
}

.nav-block__link {
  text-decoration: none;
}

.btn {
  background: #F0FAFF;
  border-radius: 56px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 43px;
  color: #00264D;
  transition: all 0.5s ease-in-out;
}
.btn__header {
  padding: 0 24px;
  display: block;
  text-decoration: none;
}
.btn__hero {
  padding: 0 87px;
  text-decoration: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn__news {
  padding: 0 19px;
  display: block;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
}
.btn__listen {
  padding: 0 55px;
}
.btn__player {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: #030E22;
}
.btn__player-download {
  padding: 0 140px;
  margin: 0 0 26px;
}
.btn__player-text {
  padding: 0 53px;
}
.btn:hover {
  background: #0089F2;
  color: #F0FAFF;
}
.btn__accord {
  background: linear-gradient(90deg, #0069BF 0%, #40B2FF 100%);
  border-radius: 21.5px;
  position: relative;
  display: grid;
  transition: all 0.5s;
  padding: 0 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.btn__accord::after {
  content: "";
  background: linear-gradient(90deg, #0069BF 0%, #40B2FF 100%);
  filter: blur(10px);
  position: absolute;
  border-radius: 21.5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
  display: block;
  width: 90%;
  height: 26px;
  z-index: -1;
  margin: auto;
}
.btn__accord:hover {
  background: linear-gradient(90deg, #40B2FF 0%, #0069BF 100%);
}
.btn__accord:hover::after {
  background: linear-gradient(90deg, #40B2FF 0%, #0069BF 100%);
}
.btn__accord_more {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.btn__galery {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 91px;
  margin-top: 20px;
}

.hero {
  display: grid;
  grid-template-columns: 640px 1fr;
  justify-content: space-between;
  gap: 20px;
  margin: 0 0 80px;
}
.hero-info {
  padding: 30px 10px 30px 0;
}
.hero-info__text {
  display: grid;
  gap: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  margin: 0 0 161px;
  color: #00264D;
}
.hero-info__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 98.6%;
  letter-spacing: -0.02em;
  margin: 0 0 92px;
}
.hero-info__title h1 {
  font-weight: inherit;
  font-size: inherit;
}

.last-news {
  margin: 0 0 85px;
}
.last-news .section-title {
  margin: 0 0 20px;
}
.last-news__controls {
  display: flex;
  justify-content: space-between;
  margin: 0 0 27px;
}
.last-news__controls-btns {
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
}
.last-news__prev, .last-news__next {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: transparent;
}
.last-news__body {
  max-width: 213px;
  min-height: 234px;
}

.news-card {
  background: linear-gradient(179.89deg, rgba(0, 0, 0, 0) 0.1%, rgba(15, 18, 19, 0.85) 80.67%);
  border-radius: 20px;
  width: 100%;
  min-height: 234px;
  color: #fff;
  position: relative;
  display: grid;
  place-content: end;
  padding: 22px 19px;
}
.news-card__img {
  border-radius: 20px;
  z-index: -1;
  position: absolute;
}
.news-card__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
.news-card__date {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

.last-video {
  margin: 0 0 80px;
}
.last-video .section-title {
  margin: 0 0 20px;
}
.last-video__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.socials-block {
  margin: 0 0 100px;
}
.socials-block .section-title {
  margin: 0 0 20px;
}
.socials-block__body {
  display: flex;
  gap: 54px;
}
.socials-block__text {
  max-width: 533px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

.footer {
  border-top: 4px solid rgba(0, 38, 77, 0.06);
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 58px;
}
.footer__copy {
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer__copy-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.footer__copy-text b {
  margin: 7px 0 0;
}

.songs {
  margin: 0 0 80px;
}
.songs .section-title {
  margin: 0 0 40px;
}
.songs-body {
  display: grid;
  grid-template-columns: repeat(4, minmax(258px, 1fr));
  gap: 20px 91px;
}
.songs-card {
  border-radius: 16px 16px 0 0;
  position: relative;
}
.songs-card__descr {
  padding: 12px 32px;
  background: linear-gradient(180deg, rgba(0, 137, 242, 0.4) 0%, rgba(250, 250, 250, 0.08) 100%);
  border-radius: 0px 0px 32px 32px;
  border: 1px solid #0089F2;
}
.songs-card__block-pick {
  cursor: pointer;
  position: relative;
}
.songs-card__block-pick:hover .button-block {
  display: grid;
  place-content: center;
}
.songs-card__title {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}
.songs-card__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.songs-card__player {
  display: grid;
  min-width: 387px;
  position: absolute;
  top: 0;
  right: -387px;
  background: linear-gradient(126.51deg, rgba(0, 0, 136, 0.3) 0%, rgba(0, 137, 242, 0.3) 0.01%, rgba(0, 137, 242, 0.1) 100%);
  border-radius: 0px 32px 32px 0px;
  z-index: 2;
  min-height: 314px;
  padding: 46px 12px 63px 14px;
}

.button-block {
  display: none;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 137, 242, 0) 0%, rgba(0, 137, 242, 0.2) 31.18%, rgba(0, 137, 242, 0.2) 100%);
}

.player-block {
  background: linear-gradient(92.98deg, rgba(240, 250, 255, 0.35) 0%, rgba(240, 250, 255, 0.2) 100%);
  box-shadow: -4px 8px 56px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 16px;
  margin: 0 0 18px;
}
.player-block audio {
  display: none;
}
.player-block .line {
  background: #0089F2;
  height: 4px;
  border-radius: 5px;
}

.player-body {
  display: grid;
  grid-template-columns: 13px 1fr 43px;
  align-items: center;
  height: 100%;
  padding: 16px 17px 16px 32px;
}
.player-body__time-line {
  margin: 0 34px;
  cursor: pointer;
}
.player-body__volume, .player-body__play {
  background: transparent;
  border: none;
  cursor: pointer;
}

.accords {
  margin: 0 0 80px;
}
.accords .section-title {
  margin: 0 0 40px;
}
.accords-nav {
  background: linear-gradient(180deg, #F0FAFF 0%, rgba(240, 250, 255, 0.515625) 47.75%, #F0FAFF 92.71%);
  display: grid;
  grid-row: 16px;
  justify-content: center;
  padding: 15px 0;
  justify-self: start;
  min-width: 310px;
  grid-row: 1/span 2;
}
.accords__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(630px, auto));
  gap: 50px 20px;
  margin: 0 0 117px;
}

.accord {
  display: grid;
  row-gap: 9px;
  padding: 10px 67.5px 50px 67.5px;
  background: linear-gradient(120.41deg, rgba(0, 137, 242, 0.35) 0%, rgba(166, 221, 255, 0.1) 100%);
}
.accord:nth-of-type(1), .accord:nth-of-type(2) {
  transform: translateX(-15rem);
}
.accord__title * {
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
}
.accord__text {
  max-width: 505px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  white-space: pre;
}

.galery {
  margin: 0 0 80px;
}
.galery .section-title {
  margin: 0 0 40px;
}
.galery-new {
  margin: 0 0 59px;
}
.galery-new__list {
  list-style: none;
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(312px, 1fr);
}
.galery-new__block {
  position: relative;
  padding: 8px;
  display: grid;
  align-items: start;
  z-index: 2;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}
.galery-new__block::before {
  content: "";
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.1) 0%, rgba(166, 221, 255, 0.1) 0.01%, #A6DDFF 100%);
  width: 100%;
  min-height: 312px;
  display: block;
  position: absolute;
  inset: 0;
}
.galery-new__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
}
.galery-new__title {
  max-width: 222px;
  min-height: 71px;
  padding: 13px 12px 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.015em;
  background: #D9F1FF;
  position: relative;
  z-index: 2;
  border-radius: 10px;
}
.galery-news {
  margin: 0 0 97px;
}
.galery-news__body {
  display: grid;
  gap: 20px;
}
.galery-news__row {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: 1fr 430px;
  grid-auto-rows: 562px;
}
.galery-news__row:nth-of-type(even) {
  grid-template-columns: 430px 1fr;
}
.galery-news__block {
  position: relative;
  color: #fff;
  text-decoration: none;
  display: grid;
}
.galery-news__block:hover .galery-news__text {
  display: grid;
}
.galery-news__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.galery-news__text {
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 38, 77, 0) 0%, #00264D 100%);
  position: relative;
  padding: 30px 80px;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  gap: 8px;
  align-content: end;
}
.galery-new-video__body {
  display: grid;
  grid-template-columns: repeat(4, minmax(310px, 1fr));
  gap: 20px;
}

.section-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}