* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #D9F1FF;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: top;
}

.container {
  max-width: 1300px;
  width: calc( 100% - 20px);
  margin: 0 auto;
}

header {
  border-bottom: 4px solid rgba(0, 38, 77, 0.06);
  margin: 0 0 40px;
}

.header-block {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  padding: 32px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.nav-block__link {
  text-decoration: none;
}

.btn {
  background: #F0FAFF;
  border-radius: 56px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 43px;
  color: #00264D;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn__header {
  padding: 0 24px;
  display: block;
  text-decoration: none;
}

.btn__hero {
  padding: 0 87px;
  text-decoration: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn__news {
  padding: 0 19px;
  display: block;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
}

.btn:hover {
  background: #0089F2;
  color: #F0FAFF;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 640px 1fr;
      grid-template-columns: 640px 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin: 0 0 80px;
}

.hero-info {
  padding: 30px 10px 30px 0;
}

.hero-info__text {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  margin: 0 0 161px;
  color: #00264D;
}

.hero-info__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 98.6%;
  letter-spacing: -0.02em;
  margin: 0 0 92px;
}

.hero-info__title h1 {
  font-weight: inherit;
  font-size: inherit;
}

.last-news {
  margin: 0 0 85px;
}

.last-news .section-title {
  margin: 0 0 20px;
}

.last-news__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 27px;
}

.last-news__controls-btns {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
}

.last-news__prev, .last-news__next {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: transparent;
}

.last-news__body {
  max-width: 213px;
  min-height: 234px;
}

.news-card {
  background: linear-gradient(179.89deg, rgba(0, 0, 0, 0) 0.1%, rgba(15, 18, 19, 0.85) 80.67%);
  border-radius: 20px;
  width: 100%;
  min-height: 234px;
  color: #fff;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-content: end;
  padding: 22px 19px;
}

.news-card__img {
  border-radius: 20px;
  z-index: -1;
  position: absolute;
}

.news-card__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.news-card__date {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

.section-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
